body {
	background-image: url('assets/offwhite-background.jpg');
	background-position: center;
	background-repeat: no-repeat;
}

/* LEVELUP TODO */
h1 {
  font-family: "Playfair Display";
  font-size: 42px;
}

img {
	border: 20px solid;
	border-image: url('assets/wood.jpg') 100;
  max-height: 250px;
  max-width: 250px;
}
